*{
    margin:0;
    padding:0;
}

body{
    background-color:#061c5e;
    color:hsl(270, 29%, 97%);
    font-size: 20PX;
    font-weight: 500;
}

.principal{
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.container{
    height: 100vh;
    display:grid;
    grid-template-columns: 50% 50%;
    
}

.container_botao{ 
    background-color:rgb(96, 130, 243);
    border-radius: 15px;
    padding: 5px;
    color:rgb(253, 253, 253);
    display:block;
    text-decoration: none;
}

.botao_secundario{
    background-color: transparent;
    border:2px solid white;
    border-radius: 15px;
    padding: 5px;
    color:rgb(243, 242, 248);
    display: block;
    text-decoration: none;
}

.container_aviso{
    font-size: 15PX;
    font-weight: 100;

}

